*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
MATLAB/Features/bvpPeakDetection.asv
*.asv
MATLAB/Models/subspaceKNNModel.mat
MATLAB/oldFeatureData/tabledata20210427TrainVal.csv
MATLAB/tabledata738273-9729TrainVal.csv
MATLAB/tabledata738273-9849Test.csv
MATLAB/tabledata738274-7391TrainVal.csv
MATLAB/tabledata738274-7423Test.csv
MATLAB/tabledata738274-9117TrainVal.csv
MATLAB/tabledata738274-9161Test.csv
MATLAB/tabledata738274-957Test.csv
MATLAB/tabledata738275-0165TrainVal.csv
MATLAB/tabledata738275-0229Test.csv
MATLAB/tabledata738275-5575Test.csv
MATLAB/tabledata738278-4483Test.csv
